@charset "utf-8";
/* CSS Document */
#player{position:relative;width:690px;height:190px;overflow:hidden; margin:11px auto 0 auto; border:1px solid #ccc;}
#player a{color:#333;}
#player *{border:0;padding:0;margin:0;}
#player .Limg{position:relative;}
#player .Limg li{position:absolute;top:0;left:0;background:#fff;}
#player .Limg li img{border:1px solid #FFFFFF; margin:0;}
#player .Limg li  p{line-height:25px; font-size:14px; padding-left:15px;}
#player .Nubbt{position:absolute;z-index:9;right:5px;bottom:3px; line-height:25px;}
#player .Nubbt span{border:1px solid #b5b5b5;background:#fff;padding:1px 5px;margin:0 2px; font-style:normal;cursor:pointer;}
#player .Nubbt span.on{background:#7d7d7d;color:#fff;}
