.juzh{ width:560px; margin:0px auto; color:#000;}
.login{ float:left; border-bottom:1px solid #bfbfbf; background:url(../../img/login/bj2.gif) no-repeat; margin:30px 0px 0px 0px; padding:20px 0px 20px 70px; color:#3181be; font-weight:bold; width:390px;}

.xxx{ float:left; width:380px; padding:10px 0px 10px 20px;}

.xxx ul{ width:360px; height:20px; float:left;}
.xxx ul li{ padding:0px 3px;}
.xxx input{ float:none; padding:0px 2px;}
.hh{ float:left; width:380px; padding:0px 0px 5px 5px;}
.hh ul{ width:380px; float:left; height:50px;}
.hh ul li{padding:0px 3px; line-height:41px; height:45px; width:75px; text-align:right;}
.hh input{ float:none; border:none; padding:10px 0px 0px 10px; background:#efefef; width:275px; margin-top:2px; height:24px; font-size:14px;}
.hh ul li.inppbj{background:url(../../img/login/bj3.gif) no-repeat;width:285px; text-align:left;}

.shurr{ width:280px; padding:0px 0px 8px 84px; float:left;}
.shurr input{ float:none; border:1px solid #d4d4d4; width:80px; height:25px;}
.shurr ul{ float:left; width:280px;}
.shurr ul li{ float:left; padding:0px 3px; }
.shurr ul li a{ line-height:42px; color:red; text-decoration:underline;}


.juzh_1{ width:700px; margin:0px auto; color:#000; padding:30px 0px 0px 0px;}
.rest_1{ float:left; width:700px;}
.rest_1 ul{ width:700px; float:left;}
.rest_1 ul li{padding:0px 3px; line-height:41px; height:45px; width:150px; text-align:right;}
.rest_1 input{ float:none; border:none; padding:10px 0px 0px 10px; background:#efefef; width:272px; margin-top:2px; height:24px; font-size:14px;}
.rest_1 ul li.inppbj{background:url(../../img/login/bj3.gif) no-repeat;width:470px; text-align:left;}
.rest_1 ul li.qur{ padding:10px 0px 0px 105px; width:240px;}
.srcw { width:180px; height:auto; font-size:14px; color:#F00; text-align:right; padding-left:15px;}

.rest_2{ float:left; width:600px;}
.rest_2 ul{ width:600px; float:left;}
.rest_2 ul li{padding:0px 3px; line-height:40px; height:45px; width:240px;}
.rest_2 ul li a{ font-size:12px; color:red; text-decoration:underline;}
.rest_2 ul li.gh{ width:140px;text-align:right;}
.rest_2 ul li.gh_1{ width:80px;}

.rest_3{ float:left; width:600px; padding:3px 0px;color:#404040;}
.rest_3 ul{ width:600px; float:left;}
.rest_3 ul li{padding:0px 3px; line-height:41px; height:45px; width:140px; text-align:right}
.rest_3 input{ float:none; border:none; padding:10px 0px 0px 10px; background:#efefef; width:275px; margin-top:2px; height:24px; font-size:14px;}
.rest_3 ul li.inppbj{background:url(../../img/login/bj3.gif) no-repeat;width:285px; text-align:left;}
.rest_3 span,.clia span,.rest_4 span{ color:red; font-weight:bold; font-family:"ו"}
.rest_3 ul li.tu{ width:36px; padding:2px 0px 0px 5px;}
.rest_3 ul li.ppzi{ font-size:12px; width:395px; line-height:22px; height:22px; color:#626262; padding:0px 0px 0px 75px;}
.rest_3 ul li.ppzi a{ color:red; }
.rest_3 ul li.ppzi a:hover{text-decoration:underline;}
.rest_3 ul li.tishi{ width:115px;} 

.rest_4{ float:left; width:540px; padding:3px 0px;}
.rest_4 ul{ width:500px; float:left; padding:0px 0px 0px 120px;}
.rest_4 ul li{ width:300px; padding:8px 0px; }
.rest_4 ul li a{ color:#2273b5; text-decoration:underline;}

.juzh_3{ width:740px; margin:0px auto; color:#000; padding:50px 0px 0px 0px;}
.wans{ float:left; width:700px; background:url(../../img/shopping_img/ccgg.gif) no-repeat 10px 0px; padding:5px 0px 10px 50px; line-height:26px;}
.clia{ border-top:1px solid #bfbfbf; float:left; width:680px; padding:15px 0px 0px 50px;}
.ww{ font-size:12px; font-weight:bold; color:#227dc6; width:600px;}
.ww input{ float:none;}
.ww span{ padding:0px 0px 0px 30px; font-weight:normal; color:#404040}
.dzi1{ width:460px; float:left; padding:10px 0px 10px 25px; color:#404040;}
.dzi1 ul{ width:460px; float:left}
.dzi1 ul li{ padding:0px 6px;}
*html .dzi1 ul li input{ margin-top:-4px;}
.dzi1 ul li.ss{ font-size:12px; color:#999}
.dzi1 ul li.ss select{ width:80px; height:22px;}
.dzi2{ width:200px; float:left; padding:10px 0px 10px 175px; }

.clia_1{ border-top:1px solid #bfbfbf; float:left; width:680px; padding:15px 0px 0px 50px; margin-top:10px;}
.zz{width:420px; float:left; padding:8px 0px;}

.rest_4{ float:left; width:580px; padding:3px 0px;color:#404040;}
.rest_4 ul{ width:410px; float:left; padding:0px;}
.rest_4 ul li{padding:0px 3px; line-height:41px; height:45px; width:320px; text-align:right; float:left;} 
.rest_4 input{ float:none; border:none; padding:5px 5px; }
.rest_4 ul li.inppbj{background:url(../../img/login/bj3.gif) no-repeat;width:285px; text-align:left}

.rest_6 ul li a{ color:#2273b5; text-decoration:underline;}
.rest_6{ float:left; width:420px; padding:3px 0px;color:#404040;}
.rest_6 ul{ width:410px; float:left; padding:0px;}
.rest_6 ul li{padding:0px 3px; line-height:41px; height:45px; width:110px; text-align:right} 
.rest_6 input{ float:none; border:none; padding:10px 0px 0px 10px; background:#efefef; width:275px; margin-top:2px; height:24px; font-size:14px;}
.rest_6 ul li.inppbj{background:url(../../img/login/bj3.gif) no-repeat;width:285px; text-align:left}

.ddz{ width:260px; float:left; height:100px;padding:10px 0px; font-size:12px; line-height:22px;}
.ddz p{ width:254px; border:1px solid #b5cee2; background:#e4edf2; padding:3px 2px; margin-top:5px;}
.ddz a{ color:red; text-decoration:underline;}
.ddz b{ color:red;}

.rest_5{ float:left; width:200px; padding:0px 0px 0px 120px;color:#2279c8;}

.xunmi{ width:520px; margin:0px auto; color:#000; padding:50px 0px 0px 0px;}
.mibj{ float:left; border-bottom:1px solid #bfbfbf; background:url(../../img/login/bj4.gif) no-repeat; padding:30px 0px 20px 70px; color:#3181be; font-weight:bold; width:390px;}
.mibj span{ font-size:12px; font-weight:normal; color:#ff5a58;}
.mimp{ width:450px; color:#989898; font-size:12px; padding:5px; float:left;}
.chahao{ width:450px; float:left; padding:5px;}
.chahao_1{ width:450px; background:url(../../img/login/bj5.gif) no-repeat; height:35px; float:left; padding:5px;}
.chahao_1 input{ border:none; width:400px; background:#efefef; height:35px;}
.chahao_2{ width:450px; height:35px; float:left; padding:5px;}

.tits{ float:left; width:320px; background:url(../../img/shopping_img/ccgg.gif) no-repeat 20px 10px; margin-top:10px; padding:10px 0px 0px 70px; line-height:24px;}
.tits a{ color:red; text-decoration:underline;}









