.logo_ll{ width:960px; height:50px; float:left}
.logo_ll ul li{ padding:15px 0px 0px 10px; color:#6f6f6f;}
.logo_ll ul li input{ border:1px solid #b5b5b5; background:#f7f7f7; height:23px; line-height:20px; color:#6e6e6e; font-size:12px; width:200px;}
.logo_ll ul li select{height:25px; width:70px;line-height:18px;  color:#6e6e6e; font-size:12px;}
.logo_ll ul li.img{ width:620px; padding:0px;}
.logo_ll ul li.img img{ width:328px; height:50px;}
.logo_ll ul li a img{ width:45px; height:25px; }
.learning_menu{ background:url(../../img/shopping_img/menubj.jpg); width:960px; height:32px; float:left;}
.learning_menu ul li{ padding:5px 20px 0px 20px; height:27px; background:url(../../img/shopping_img/xian.gif) no-repeat right center;}
.learning_menu ul li a{ line-height:24px; text-align:center;display:block; float:left; color:#fff; font-size:13px;}
.learning_menu ul li a.dizhu{ width:70px; height:27px; background:url(../../img/shopping_img/menubj1.gif); font-weight:bold; color:#000}
.learning_menu ul li a:hover{ text-decoration:underline;}
.learning_menu p{ float:right; width:175px; height:22px; padding:8px 10px 0px 30px; background:url(../../img/shopping_img/bjj123.gif) -2px 2px no-repeat;}
.learning_menu p span{ float:left;}
.learning_menu p b{ color:red;}
.learning_menu p a{ float:right; color:#fff; font-weight:bold;}

.llei{ width:550px; line-height:30px; padding-left:10px; float:left;}
.tell{ width:160px; color:#505050; background:url(../../img/shopping_img/telbj.gif) no-repeat 0px 6px; line-height:30px; padding:0px 0px 0px 20px; float:left;}
.help{ width:200px; color:#505050;background:url(../../img/shopping_img/xx.gif) no-repeat 0px 4px; float:left; padding:0px 0px 0px 15px;  line-height:30px; }
.tell b{ color:#d01317;}
.seat{ width:960px; color:#8f8f8f;padding:5px 0px 0px 10px; height:20px; float:left;}
.seat a{ color:#8f8f8f;}
.seat a:hover{ color:#fe7600;}
.seat span{ color:#3a3a3a;}

.banner{ width:210px; height:83px; margin-top:10px;}

.dushu{width:200px; padding:5px 0px 10px 8px; display:inline;}
.dushu ul.zhai{ width:193px;border-bottom:1px solid #e6e6e6; float:left; padding:8px 0px 0px 0px; height:27px;}
.dushu ul.zhai li.hao{background:url(../../img/common_img/bbbj.gif) no-repeat ; padding:0px 0px 0px 3px;  font-size:10px;line-height:normal; width:13px; height:13px; margin:0px 10px 0px 5px!important; margin:0px 10px 0px 2px;}
.dushu ul.kuan{ width:190px;border:1px solid #d6341f; height:175px; background:#fff; float:left; padding:10px 0px 0px 0px;}
.dushu ul.kuan li.hao1{background:url(../../img/common_img/bbbj_1.gif) no-repeat ; padding:0px 0px 0px 3px;  font-size:10px;line-height:normal; width:13px; height:13px; margin:0px 10px 0px 5px!important; margin:0px 10px 0px 2px; color:#fff;}
.dushu ul.kuan li{ width:155px;font-weight:bold; }
.dushu ul.kuan li.tut{ width:104px; height:118px; background:url(../../img/common_img/shubj.gif) no-repeat; margin:6px 0px 0px 33px!important;margin:6px 0px 0px 15px}
.dushu ul.kuan li.tut img{ width:95px; height:116px; border:1px solid #ccc }
.dushu ul.kuan li.shuzi{ padding:8px 0px 0px 30px; font-size:14px; color:red;}

.listleft{ width:220px; float:left;}
.listleft div{ float:left;}
.xiaok{ width:208px; border:1px solid #e0e0e0; background:url(../../img/shopping_img/tit_bj1.gif) no-repeat; margin-top:10px;}
.xiaok p{ width:150px; padding-left:15px; font-size:14px; font-weight:bold; line-height:26px;}
.xiaok p.an{ padding:0px;}
.ccp{ width:200px; padding:5px 4px; }
.ccp ul { float:left; padding:10px 0px}
.ccp ul li{float:left; width:118px;}
.ccp ul li.tuimg{ width:80px;}
.ccp ul li.ssc{text-decoration: line-through; color:#9b9b9b; padding-top:8px; line-height:16px;}
.ccp ul li img{ width:72px; height:72px; border:1px solid #e1e1e1;}
.ccp ul li a{ color:#3873bf;}
.ccp ul li b{ color:#d60002;}
.gg{ width:194px; padding:4px 4px 4px 10px;}
.gg a{ width:180px; line-height:24px; float:left; background:url(../../img/shopping_img/fk.gif) 0px center  no-repeat; padding-left:10px;}


/*输入控件验证出错*/
form input.error {
	border: solid 1px red;
}

/*验证错误提示信息*/
form label.error {
	width: 200px;
	margin-left: 10px;
	color: red;
}