.listleft{ width:703px; border:1px solid #e6e6e6; float:left; border-top:3px solid #69a0c9; margin-right:8px; background:url(../../img/news_img/bj2.gif) no-repeat; padding:0px 0px 10px 0px}
.listleft div{ float:left;}
.titi{ padding:5px 0px 0px 15px; width:680px; height:24px;}
.flei_1{ width:683px; border-bottom:1px solid #cedce9; background:#f1f6fa; padding:10px 10px 0px 10px}
.flei_1 ul{ width:620px; padding:0px 0px 10px 20px; font-size:14px; float:left}
.flei_1 ul li{ width:145px; line-height:30px;height:30px; background:url(../../img/news_img/kuai.gif) no-repeat 5px center; padding-left:20px; color:#8d8d8d; float:left; margin:0px 30px 0px 0px}
.flei_1 ul li a{ color:#c03135; text-decoration:underline}
.flei_1 ul li.did{background:url(../../img/news_img/kuai.gif) no-repeat 5px center #fff;}
.flei_1 ul li.did a{ color:#000; text-decoration:none; font-weight:bold;}

.dda{ margin:8px 0px 0px 8px;width:688px; background:#e6eff6; height:30px; display:inline;}
.dda ul{ width:680px;}
.dda ul li{ width:auto; line-height:22px; height:25px; margin:5px 0px 0px 10px; padding:0px 5px; display:inline;}
.dda ul li.dibai{background:#fff;}
.dda ul li a{ padding:0px 5px; }
.dda ul li.imgrili{ margin:0px; padding:0px;width:110px; height:28px; float:right;}


.list_3{width:688px;  margin:1px 0px 0px 8px;display:inline;}
.list_3 ul{ width:680px; background:url(../../img/home_img/xu.gif) repeat-x bottom;margin:0px 0px 0px 5px!important; margin:0px 0px 0px 3px;display:block; float:left; padding:8px 0px;}
.list_3 ul li{ width:680px;line-height:28px; font-size:14px;}
.list_3 ul li p{ width:560px; float:left;}
.list_3 ul li span{ width:100px; font-size:12px; color:#b6b6b6; float:left; text-align:right;}
