.ziyuan{ width:750px; float:left; padding:15px 0px 0px 0px;}
.ziyuan h1{ color:red; height:70px; line-height:30px;}
.ziyuan h1 a{ font-size:14px; font-weight:bold; color:red; text-decoration:underline}
.ziyuan table{ width:730px; float:left; border-top:1px solid #929292; line-height:30px; }
.ziyuan table tr.lase{ width:730px;background:#f3f7fa; font-weight:bold;}
.ziyuan table tr.lase td{background:#f3f7fa; padding-top:0px; padding-bottom:0px; color:#000}
.ziyuan table td{background:url(../../img/home_img/xu.gif) repeat-x bottom; padding:5px 0px; color:#939393}
.ziyuan table td.k1{ width:400px; padding:0px 0px 0px 10px; font-size:14px;}
.ziyuan table td.k1 a{ font-size:14px;}
.ziyuan table td.k1 a:hover{ text-decoration:underline; color:#214b9d}
.ziyuan table td.k2{ width:100px; text-align:center;}
.ziyuan table td.k2 a{ color:#21499e; text-decoration:underline;}
.ziyuan table td.k3{ width:100px; text-align:right; padding:0px 10px 0px 0px}

.ziyuan table td.kt{ width:100px; text-align:center; color:#ff7200}
.ziyuan table td.sz{ width:100px; text-align:center; color:#0a57ec}

.ziyuan table td.k4{ width:400px; padding:0px 0px 0px 10px; font-size:14px;background:url(../../img/home_img/xu.gif) repeat-x bottom #f8f8f8;}
.ziyuan table td.k5{ width:100px; text-align:center;background:url(../../img/home_img/xu.gif) repeat-x bottom #f8f8f8;}
.ziyuan table td.k6{ width:100px; text-align:right; padding:0px 10px 0px 0px;background:url(../../img/home_img/xu.gif) repeat-x bottom #f8f8f8;}

.ziy_1{width:750px; float:left; padding:15px 0px 0px 0px;}
.ziy_1 a{text-decoration:underline; color:#214b9d}
.ziy_1 ul{ width:700px; float:left; padding:0px 0px 0px 10px;}
.ziy_1 ul li{ width:700px; padding:8px 0px}
.ziy_1 ul li input{ float:none; height:20px; width:400px; color:#3f3f3f}
.ziy_1 ul li select{ height:20px; width:150px; color:#3f3f3f}
.ziy_1 ul li textarea{ width:400px; height:200px; color:#3f3f3f; font-size:12px;}
.ziy_1 ul li input.ann{ width:71px; height:32px; background:url(../../img/user_img/qued.gif) no-repeat; border:none; margin:0px 20px 0px 0px}
.ziy_1 ul li.qq{ width:200px; padding:10px 0px 0px 65px;}
.ziy_1 ul li input.ann_1{ width:71px; height:32px; background:url(../../img/user_img/qux.gif) no-repeat; border:none;}
.ziy_1 span,.ziy_2 span{ color:red}

.ziy_2{width:640px; float:left; padding:5px 0px 0px 110px;}
.ziy_2 a{ font-weight:bold; color:#214a9a; text-decoration:underline;}
.ziy_2 input.ann{ width:71px; height:32px; background:url(../../img/user_img/qued.gif) no-repeat; border:none; margin:0px 20px 0px 0px}

.ziy_3{ background:#f7f7f7; width:390px; float:left; margin:10px 0px 0px 110px; display:inline; padding:2px 10px 10px 10px;}
.ziy_3 table a{ color:#214a9a; text-decoration:underline;}
.ziy_3 table td{ border-bottom:1px solid #dbdbdb; line-height:34px;}